body footer {
  z-index: 9999;
  position: absolute;
  bottom: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overarching {
  position: relative;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.light-text {
  font-weight: 300;
}

.regular-text {
  font-weight: 400;
}

.bold-text {
  font-weight: 700;
}

body {
  line-height: 1.5;
  font-size: 100%;
  font-family: "Karla", sans-serif;
  background: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
